body {
    display: flex;
    flex-direction: column;
    margin-block: 25vh;
    margin-left: 50vh;
    position: absolute;

}

.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30vh;
    width: 90vh;


}

.block {
    font-size: 8vh;
}

.box1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: 15vh;
    background-color: #73706b78;
    border-radius: 3vh;
    box-shadow: 10px 10px 5px;


}

.block span {
    color: antiquewhite;
}


.count {
    margin-left: 25vh;

    color: white;
    font-family: 'Merienda', cursive;

}

@media(max-width:600px) {
    .box {
        max-width: 45vh;
        display: flex;
    }

    .box1 {
        max-height: 10vh;
        max-width: 10vh;
    }

    .count {
        margin-left: 5vh;
        font-size: medium;
    }

    body {
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        margin-block: 25vh;
        margin-left: 5vh;
    }

    .block {
        font-size: 4vh;
    }
}
